[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
pytest-flask = "*"
coverage = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.6"
